---
import background from '@/assets/background.svg';
---

<div class="h-full">
  <img
    class="fixed top-0 left-0 z-[-1] h-full w-full blur-[100px]"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
</div>
