---
import { isSamePath } from '@/helpers';

interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;

const isActive = isSamePath(Astro.url.pathname, href);
---

<a href={href} class={isActive ? 'active-link' : 'hover:text-malachite-400'}>{label}</a>
