---
import { Image } from 'astro:assets';
import Logo from '@/assets/logo.svg';
import PhoneIcon from '@/components/icons/Phone.astro';
import ShoppingCart from '@/components/ShoppingCart.vue';
import HeaderLink from './HeaderLink.astro';
import MobileNavMenu from './MobileNavMenu.vue';

const items = [
  { text: 'Home', href: '/' },
  { text: 'Menu', href: '/menu' },
  { text: 'Services', href: '/services' },
  { text: 'Offers', href: '/offers' },
];
---

<header
  class="font-poppins sticky top-0 z-50 container mx-auto flex h-24 items-center justify-between bg-gray-50 px-8 text-xl font-medium text-gray-800"
>
  <a href="/" aria-label="Home"><Image src={Logo} alt="Logo" loading="eager" /></a>
  <div class="hidden gap-12 lg:flex">
    <HeaderLink href="/" label="Home" />
    <HeaderLink href="/menu" label="Menu" />
    <HeaderLink href="/services" label="Services" />
    <HeaderLink href="/offers" label="Offers" />
  </div>
  <div class="flex gap-12">
    <a
      href="/cart"
      class="flex items-center rounded-md p-2 hover:bg-gray-100 hover:shadow"
      aria-label="Cart"
    >
      <div class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M21 6h-3A6 6 0 1 0 6 6H3a3 3 0 0 0-3 3v10a5.006 5.006 0 0 0 5 5h14a5.006 5.006 0 0 0 5-5V9a3 3 0 0 0-3-3m-9-4a4 4 0 0 1 4 4H8a4 4 0 0 1 4-4m10 17a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V9a1 1 0 0 1 1-1h3v2a1 1 0 1 0 2 0V8h8v2a1 1 0 0 0 2 0V8h3a1 1 0 0 1 1 1z"
          ></path>
        </svg>
        <ShoppingCart client:only="vue" />
      </div>
    </a>
    <a
      href="/contact"
      class="bg-malachite-400 hover:shadow-malachite-300 hidden items-center gap-2 rounded-full px-6 py-2 text-white transition-colors hover:shadow-2xl lg:flex"
    >
      <PhoneIcon />
      Contact
    </a>
    <div class="lg:hidden">
      <MobileNavMenu items={items} client:visible />
    </div>
  </div>
</header>
